
  
  
  <!-- Form Mixin-->
  <!-- Input Mixin-->
  <!-- Button Mixin-->
  <!-- Pen Title-->

  <div class="pen-title">
    <h1>Formulario de inicio de sesión</h1><span>Ejercicio <i class='fa fa-paint-brush'></i> 2 <i class='fa fa-code'></i> por <a href='http://andytran.me'>Cristian Corsaro</a></span>
  </div>
  <!-- Form Module-->
  <div class="module form-module">
    <div class="toggle"><i class="fa fa-times fa-pencil"></i>
      <div class="tooltip">Clickame</div>
    </div>
    <div class="form">
      <h2>Ingrese a su cuenta</h2>
      <form>
        <input type="text" placeholder="correo electrónico" #loginEmail/>
        <input type="password" placeholder="Contraseña" #loginPassword/>
        <button (click)="redirectToBienvenida(loginEmail.value, loginPassword.value)">Acceso</button>
      </form>
    </div>
    <div class="form">
      <h2>Crear una cuenta</h2>
      <form>
        <input type="text" placeholder="usuario"/>
        <input type="password" placeholder="contraseña"/>
        <input type="email" placeholder="correo electrónico"/>
        <input type="tel" placeholder="teléfono"/>
        <button>Register</button>
      </form>
    </div>
    <div class="cta"><a href="../error/error.component.html">¿Olvidaste tú contraseña?</a></div>
  </div>
  
  

  
